.nav {
  position: absolute;
  top: 1px;
  width: 100%;
  height: 2.5rem;
}
.middle {
  padding-top: 6rem;
  align-content: center;
  width: 80%;
  height: 80%;
}
.footer {
  color: #717981;
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  background-color: #f5f5f5;
  color: #909498;
  cursor: default;
  position: relative;
  padding-bottom: 0rem;
  width: 100%;
  max-width: 72rem;
  z-index: 2;
}

#footer > section.split > section {
  padding: 3rem 4rem 1rem 4rem;
  border-top: solid 2px #e2e2e2;
}

#footer > section.split > section:first-child {
  padding: 5rem 4rem 1rem 4rem;
  border-top: 0;
}

#footer > section.split > section:last-child {
  padding: 3rem 4rem 3rem 4rem;
}

#footer > section.split.contact > section {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  padding: 3.15rem 4rem;
}

#footer > section.split.contact > section > * {
  margin-bottom: 0;
}

#footer > section.split.contact > section > :first-child {
  -moz-flex-shrink: 0;
  -webkit-flex-shrink: 0;
  -ms-flex-shrink: 0;
  flex-shrink: 0;
  -moz-flex-grow: 0;
  -webkit-flex-grow: 0;
  -ms-flex-grow: 0;
  flex-grow: 0;
  width: 6rem;
}

#footer > section.split.contact > section > :last-child {
  -moz-flex-shrink: 1;
  -webkit-flex-shrink: 1;
  -ms-flex-shrink: 1;
  flex-shrink: 1;
  -moz-flex-grow: 1;
  -webkit-flex-grow: 1;
  -ms-flex-grow: 1;
  flex-grow: 1;
}

#footer > section.split.contact > section:first-child {
  padding: 4rem 4rem 3rem 4rem;
}

#footer > section.split.contact > section:last-child {
  padding: 3rem 4rem 4rem 4rem;
}

#footer > section.split.contact > section.alt {
  -moz-align-items: -moz-flex-start;
  -webkit-align-items: -webkit-flex-start;
  -ms-align-items: -ms-flex-start;
  align-items: flex-start;
}

#footer > section.split.contact > section.alt > :last-child {
  margin-top: -0.325rem;
}
